<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.action_name %> | QR Codes</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<div id="header">
  <%= image_tag 'qrcodes.png', :size => 50 %>
  <h1>QR Codes</h1>

  <p class="note">
    Create QR codes for your name, your homepage, or any given text input you like.
  </p>
</div>

<div id="main">
  <p style="color: green"><%= flash[:notice] %></p>

  <%= yield %>
</div>

</body>
</html>
